# Node.js Environment
NODE_ENV=development

# PostgreSQL Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=taskflow-db

# Database URL for Docker
DATABASE_URL="postgresql://postgres:postgres@db:5432/taskflow-db?schema=public"

# Server Configuration
PORT_BACKEND=5000
DATABASE_PORT=5432